<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Search
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/search']"><i class="fa fa-dashboard"></i> หน้าหลัก</a></li>
        <li><a [routerLink]="['/search']"> ค้นหา</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header with-border box-header-search">
          <h3 class="box-title">กรุณาเลือกเงื่อนไขการค้นหา</h3>
          <div class="box-tools pull-right">
            <span>Help</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
              title="Collapse">
              <i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <form novalidate [formGroup]="searchForm">
            <fieldset>
              <div class="form-group row">
                <div class="col-sm-4">
                  <label class="col-form-label">Search :</label>
                  <div>
                    <input 
                      class="form-control" 
                      type="text" 
                      formControlName="tellerAddress" 
                      name="tellerAddress" 
                    >
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="col-form-label">Location :</label>
                  <button type="button" class="btn btn-primary btn-block" (click)="findLocation()">
                    <i class="fa fa-location-arrow"></i> ค้นหา ATM สาขาใกล้คุณ
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <label class="col-form-label">Brand :</label>
                  <select 
                    class="form-control" 
                    formControlName="brandTellerId" 
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let brand of brands" [value]="brand.brandTellerId">
                      {{ brand.brandTellerName }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label class="col-form-label">Version :</label>
                  <select 
                    class="form-control" 
                    formControlName="versionTeller" 
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let version of versions" [value]="version.versionTellerId">
                      {{ version.versionTellerName }}
                    </option>
                  </select>
                </div>
                <!-- <div class="col-sm-4">
                  <label class="col-form-label">Type :</label>
                  <select 
                    class="form-control" 
                    formControlName="typeTellerId" 
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let typeTeller of typeTellers" [value]="typeTeller.typeTellerId">
                      {{ typeTeller.typeTellerName }}
                    </option>
                  </select>
                </div> -->
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <label class="col-form-label">Zone :</label>
                  <select 
                    class="form-control" 
                    formControlName="zone" 
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let zone of zones" [value]="zone.zoneId">
                      {{ 'ภาค ' + zone.zoneId }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label class="col-form-label">Province :</label>
                  <select 
                    class="form-control" 
                    formControlName="province" 
                    (change)="onChangeProvince($event)"
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let province of provinces" [value]="province.provinceId">
                      {{ province.provinceNameThai }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label class="col-form-label">District :</label>
                  <select 
                    class="form-control" 
                    formControlName="district" 
                  >
                    <option value="">เลือก</option>
                    <option *ngFor="let district of districts" [value]="district.districtId">
                      {{ district.districtNameThai }}
                    </option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <button type="button" class="btn btn-primary w-custom" (click)="find()">
                  <i class="fa fa-search"></i> Search
                </button>
                <button type="button" class="btn btn-default" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-primary" (click)="report()" [disabled]="rowDatas.length === 0">Report</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row scroll-to-table">
        <div class="col-md-12 text-caption-before-table">
          <h4> ผลการค้นหา <small>หากต้องการแสดงตำแหน่งแผนที่ เลือกรายการที่ต้องการ</small></h4>
        </div>
      </div>
      <!-- Default box -->
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-4 teller-address">
              <div 
                class="teller-address-text" 
                *ngFor="let rowData of rowDatas" 
                (click)="onClickTellerAddress(rowData.tellerId, rowData.tellerDetailsId)" 
                data-toggle="modal" data-target="#viewMapById"
              >
                <span>{{ rowData.tellerAddress }}</span>
                <span *ngIf="isClickFindNearest && rowDatas.length > 0">
                  {{ rowData.distance }} KM
                </span>
              </div>
            </div>
            <div class="col-md-8">
              <agm-map id="map" [latitude]="lat" [longitude]="lng">
                <agm-marker  
                  *ngFor="let m of markers; let i = index" 
                  [latitude]="m.lat" 
                  [longitude]="m.lng" 
                  [iconUrl]="iconUrl" 
                  (markerClick)="markerClick(infoWindow)"
                >
                  <agm-info-window id="info-map" #infoWindow>
                    <div><strong>{{ m.tellerNo }}</strong></div>
                    <div><strong>{{ m.tellerAddress }}</strong></div>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>

<div class="modal fade" id="viewMapById" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove psn-close" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="tellerActive != null">
          <div class="col-md-5">
            <div class="box">
              <div class="box-header with-border box-header-search">
                <h3 class="box-title">ATM {{ tellerActive.tellerAddress }}</h3>
              </div>
              <div class="box-body">
                <div class="map-text">Teller No: {{ tellerActive.tellerNo }}</div>
                <div class="map-text">Zone: {{ zoneActive.zoneName }}</div>
                <div class="map-text">Province: {{ provinceActive.provinceNameThai }}</div>
                <div class="map-text">District: {{ districtActive.districtNameThai }}</div>
                <div class="map-text">Brand: {{ brandActive.brandTellerName }}</div>
                <div class="map-text">Version: {{ versionActive.versionTellerName }}</div>
                <div class="map-text">Type: {{ typeActive.typeTellerName }}</div>
                <hr>
                <div class="map-text">IP Address: {{ tellerDetailsActive.ipAddress }}</div>
                <div class="map-text">IP Gateway: {{ tellerDetailsActive.ipGateway }}</div>
                <div class="map-text">Service Port: {{ tellerDetailsActive.servicePort }}</div>
                <div class="map-text">Local Port: {{ tellerDetailsActive.localPort }}</div>
                <div class="map-text">Index Master Key: {{ tellerDetailsActive.indexMasterKey }}</div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" (click)="logbook(tellerActive.tellerId)">Technical LogBook</button>
              <a 
                target="_blank" 
                href="{{ googleURI }}" 
                class="btn btn-primary"
              >Direction</a>
            </div>
          </div>
          <div class="col-md-7">
            <agm-map id="mapDetail" [zoom]="17" [latitude]="latitude" [longitude]="longitude" [usePanning]="true">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconUrl"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Close
        </button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>