/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/css/bootstrap.min.css";
@import "assets/dist/css/style.min.css";
@import 'assets/dist/css/font-awesome.css';
@import 'assets/dist/css/datatable-implement.css';

html, body {
  height: 100%;
}

.box-header-search {
  color:#f2f2f2;
  background-color: #e3007b;
}

.col-form-label {
  font-weight: bold !important;
}